


<!------------------------------------------------- TILES ---------------------------------------------->
<div *ngIf="IsLoaded">

    <app-nav-bar [backgroundColor]="City?.colorScheme.navColor" [navBarLightText]="true" 
    [cityId]="City.cityId" [cityName]="City.name"></app-nav-bar>

    <div class="container pb-3" style="padding-top: 1vh">

        <!------------------------------------------------- Hero IMG ---------------------------------------------->

        <div class="container" style="margin-top: 5vh; margin-bottom: 5vh;">
            <div [ngStyle]="heroImgStyling()">
                <div class="imgText">
                    {{City?.name}}
                </div>
            </div>
        </div>


        <div class="my-2">
            <app-help-wanted [helpWanted]="City?.help" [borderColor]="City?.colorScheme.primaryColor"
                [headerColor]="City?.colorScheme.headerTextColor" [isUnderdark]="false" [boxShadowIsLight]="true"
                [textColor]="City?.colorScheme.primaryTextColor"></app-help-wanted>
        </div>

        <div class="mb-2 mt-5">
            <app-news [news]="City?.news" [headerColor]="City?.colorScheme.headerTextColor"></app-news>
        </div>

        <div class="mb-2 mt-5">
            <app-history [history]="City?.history" [headerColor]="City?.colorScheme.headerTextColor"
            [textColor]="City?.colorScheme.primaryTextColor"></app-history>
        </div>

        <div class="mb-2 mt-5">
            <app-government [government]="City?.government" [headerColor]="City?.colorScheme.headerTextColor"
            [textColor]="City?.colorScheme.primaryTextColor"></app-government>
        </div>
    </div>
</div>