<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Noto+Serif:ital@1&display=swap" rel="stylesheet">

<div>
    <div class="col-12 text-end">
        <a (click)="ChooseCampaign()">Change Campaign</a>
    </div>

    <div class="text-center pt-5 mt-5">
        <h1 style="font-family: 'Aboreto', cursive;">Welcome to Avyngäard<span style="color: green">.</span></h1>
    </div>

    <div class="container">
        <div class="text-center row pb-5" *ngIf="isLoaded">
            <a *ngFor="let city of Cities; let i = index" class="cityCard col-6 col-md-3"
                routerLink="{{city.size}}/{{city.id}}" routerLinkActive="true">
                <div class="img-holder">
                    <img src="../../../../assets/Icons/{{city.name | lowercase}}.jpg" />

                    <div class="text-center pt-xl-4 pb-xl-3 py-2">
                        <h5> {{city.name}} </h5>
                        <p>{{city.area}} </p>
                    </div>
                </div>
            </a>

        </div>

        <div class="text-center mb-5" *ngIf="!isProd">
            <button pButton type="button" label="Manage Cities" routerLink="Admin/Manage" routerLinkActive="true"></button>
        </div>
    </div>

    
</div>


<p-dialog header="Loading..." [(visible)]="!isLoaded" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="px-5" *ngIf="!LoadingFailed">
        <p-progressSpinner [style]="{width: '150px', height: '150px'}" styleClass="custom-spinner" strokeWidth="4" fill="#ededed" animationDuration="1.5s"></p-progressSpinner>
    </div>
    <div class="px-5" *ngIf="LoadingFailed">
        <b>Unable to Load Avyngäard Cities.</b>
    </div>
</p-dialog>

<p-dialog header="Choose Campaign" [(visible)]="askForCampaign" [style]="{width: '75vw', height: '90vh'}" [closable]="false">
    <b>Choose your Campaign:</b>
  
    <p-dropdown class="my-2" [options]="Campaigns" [(ngModel)]="SelectedCampaign" optionLabel="name"></p-dropdown>
    <div class="my-2 text-end">
        <button pButton type="button" label="Save" (click)="SaveCampaign()"></button>
    </div>
</p-dialog>