

@media only screen and (min-width: 600px) {
    h1 { font-size: 4.5rem;    }
  }

ul {
	list-style: none;
	  padding-left: 0;
}


.cityCard {
	text-align: center;
	margin-top: 2rem;
}
.img-holder {
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: .5rem;
	box-shadow: 5px 5px 10px #888888;

}
.img-holder > img {
	width: 80%;
	height: 80%;
}

a {
	color:  black;
    text-decoration: none;
}

a:hover {
	color:  black;

}

.img-holder:hover {
	box-shadow: 10px 10px 10px #888888;
	transition: box-shadow .3s;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #16697A;
    }
    40% {
        stroke: #489FB5;
    }
    66% {
        stroke: #82C0CC;
    }
    80%,
    90% {
        stroke: #FFA62B;
    }
}

@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}