.heroImg:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .imgText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
  }
  
  .tabMenuBtn {
    background-color: inherit;
    color: white;
    font-size: larger;
}

.tabMenuBtn.active {
    color: purple;
}

.tabMenuBtn:hover {
    color: rgb(87, 86, 86);
  
}

.blurb {
  border-radius: 6px;
  background-color: #bab8b8;
}