h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.3rem;
}

p, small {
    font-family: BentonSans, Helvetica, Arial, sans-serif;
}

small {
    font-size: .6rem;
}

.display-1 {
    font-size: 8rem;
}

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.navbar a {
    color: black !important;
}

.img-wrapper > img{
    width: 100%;
}

p {
    font-size: .8rem;
}