<link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@300;400;500;700;800&display=swap"
    rel="stylesheet">

<div style="background-color: rgb(249, 226, 231)">
    <div class="text-center py-2">
        <small>LIMITED TIME. FREE PICKUP & RETURNS ON 50GP+ ORDERS.</small>
    </div>
</div>

<app-nav-bar backgroundColor="#F7F7F8" [navBarLightText]="false" 
[cityId]="CityId" [cityName]="CityName"></app-nav-bar>



<div class="text-center mt-5">
    <h1>Victorious Secret</h1>
    <hr>
</div>

<div class="text-center mt-5 Montserrat">
    <h2 style="font-weight: 600">Introducting</h2>
    <h2 style="font-weight: 600">The Very Sexy</h2>
    <div class="display-1" style="font-weight: 700">So Obsessed</div>
    <div class="display-2" style="font-weight: 400">{{Special.name}}</div>
</div>

<div class="row">
    <div class="col-6 me-0">
        <div class="img-wrapper">
            <img src="../../../../assets/VictoriousSecret/{{CityName}}/{{SpecialImg[0]}}.jpg">
        </div>
    </div>
    <div class="col-6 ms-0">
        <div class="img-wrapper">
            <img src="../../../../assets/VictoriousSecret/{{CityName}}/{{SpecialImg[1]}}.jpg">
        </div>
    </div>
    <div class="col-12 text-center Montserrat mt-5">
        <h2 style="font-weight: 600">{{CityName}} Exclusive. {{Special.price}} {{Special.currencyType.abbreviation}}
        </h2>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-12 Montserrat text-center" style="font-weight: 700">TRENDING NOW</div>

        <div class="col-4" *ngFor="let clothes of TrendingClothes">
            <div class="img-wrapper">
                <img src="../../../../assets/VictoriousSecret/{{clothes.imgPath}}">
            </div>
            <div class="Montserrat my-2">
                 <p>{{clothes.name}}</p>
                 <p-rating [(ngModel)]="clothes.rating" [cancel]="false" [readonly]="true"></p-rating>
                 <p> 
                    <b><s>{{clothes.originalPrice}}{{clothes.currencyTypeAbbreviation}}</s> 
                    <span class="ms-2" style="color: rgb(175, 80, 113)">{{clothes.price}}{{clothes.currencyTypeAbbreviation}}</span></b></p>
            </div>
        </div>
    </div>
</div>

<div class="img-wrapper mt-5">
    <img src="../../../../assets/VictoriousSecret/LoungeChillShine.png">
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-xl-4 col-lg-3 col-6" *ngFor="let clothes of Clothes">
            <div class="img-wrapper">
                <img src="../../../../assets/VictoriousSecret/{{clothes.imgPath}}">
            </div>
            <div class="Montserrat my-2">
                 <p>{{clothes.name}}</p>
                 <p>{{clothes.description}}</p>
                 <p-rating [(ngModel)]="clothes.rating" [cancel]="false" [readonly]="true"></p-rating>
                 <p> 
                    <b><s>{{clothes.originalPrice}}{{clothes.currencyTypeAbbreviation}}</s> 
                    <span class="ms-2" style="color: rgb(175, 80, 113)">{{clothes.price}}{{clothes.currencyTypeAbbreviation}}</span></b></p>
            </div>
        </div>
    </div>
</div>