<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="" routerLinkActive="true">Avyngaard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Admin/Create/0" (click)="ResetModel()">Create New</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cities
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/Admin/Create/{{city.id}}" *ngFor="let city of Cities"
                                (click)="SetCity(city.id)">{{city.name}}</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container m-auto pt-5" *ngIf="AllDataFetched">

    <div class="row">
        <div class="col-12">
            <h1>Create A City</h1>
        </div>
        <div class="col-6 my-2">
            <h5>Location Name</h5>
            <input type="text" pInputText [(ngModel)]="City.name" placeholder="Baldur's Gate" />
        </div>
        <div class="col-6 my-2">
            <h5>Location Area</h5>
            <input type="text" pInputText [(ngModel)]="City.area" placeholder="Sword Coast" />
        </div>

        <div class="col-6 my-2">
            <h5>Location Size</h5>
            <div *ngFor="let size of Sizes" class="field-checkbox">
                <p-radioButton [inputId]="size.id.toString()" name="size" [value]="size.id" [(ngModel)]="City.sizeId">
                </p-radioButton>
                <label [for]="size.id">{{size.description}}</label>
            </div>
        </div>

        <div class="col-6 my-2">
            <h5>Show Location In Prod?</h5>

            <div class="field-checkbox">
                <p-checkbox [(ngModel)]="City.show" [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">{{City.show}}</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <h2>Location Details</h2>
        <div class="col-6 my-2">
            <h5>Motto</h5>
            <input type="text" pInputText [(ngModel)]="CityDetails.motto" placeholder="Dark Alliance." />
        </div>

        <div class="col-6 my-2">
            <h5>Magic Ideology</h5>
            <input type="text" pInputText [(ngModel)]="CityDetails.magicIdeology"
                placeholder="Magic is cool, I guess." />
        </div>

        <div class="col-12 my-2">
            <h5>History</h5>
            <textarea rows="5" pInputTextarea [(ngModel)]="CityDetails.history"></textarea>
        </div>

        <div class="col-6 my-2">
            <h5>Government Title</h5>
            <input type="text" pInputText [(ngModel)]="CityDetails.government.title" placeholder="King Henry" />
        </div>
        <div class="col-12 my-2">
            <h5>Government Description (HTML)</h5>
            <textarea rows="5" pInputTextarea [(ngModel)]="CityDetails.government.descriptionHtml"></textarea>

        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <h2>News and Help Wanted</h2>

        <div class="col-6 my-2">
            <h5>News</h5>

            <div *ngFor="let n of CityDetails.news">
                <p>{{n.title}}</p>
            </div>
        </div>
        <div class="col-6 my-2">
            <button pButton type="button" label="Add News" (click)="OpenNewsDialog()"></button>
        </div>

        <div class="col-6 my-2">
            <h5>Help</h5>

            <div *ngFor="let h of CityDetails.help">
                <p>{{h.title}}</p>
            </div>
        </div>
        <div class="col-6 my-2">
            <button pButton type="button" label="Add Help" (click)="OpenHelpDialog()"></button>
        </div>
    </div>

    <hr>

    <div class="row mt-5">
        <h2>Shops</h2>
        <div *ngFor="let shop of Shops" class="field-checkbox">
            <p-checkbox name="group2" value="shop" [value]="shop" [(ngModel)]="CityDetails.shops"></p-checkbox>
            <label [for]="shop.id">{{shop.name}}</label>
        </div>
    </div>


    <hr>

    <div class="row mt-5">
        <h2>Color Scheme</h2>

        <div class="col-lg-2 my-2">
            <h5>Background Color</h5>
            <p-colorPicker [(ngModel)]="CityDetails.colorScheme.backgroundColor"></p-colorPicker>
            <p>{{CityDetails.colorScheme.backgroundColor}}</p>
        </div>

        <div class="col-lg-2 my-2">
            <h5>Color #1</h5>
            <p-colorPicker [(ngModel)]="CityDetails.colorScheme.colorA"></p-colorPicker>
            <p>{{CityDetails.colorScheme.colorA}}</p>

        </div>

        <div class="col-lg-2 my-2">
            <h5>Color #2</h5>
            <p-colorPicker [(ngModel)]="CityDetails.colorScheme.colorB"></p-colorPicker>
            <p>{{CityDetails.colorScheme.colorB}}</p>

        </div>

        <div class="col-lg-2 my-2">
            <h5>Color #3</h5>
            <p-colorPicker [(ngModel)]="CityDetails.colorScheme.colorC"></p-colorPicker>
            <p>{{CityDetails.colorScheme.colorC}}</p>

        </div>

        <div class="col-lg-2 my-2">
            <h5>Color #4</h5>
            <p-colorPicker [(ngModel)]="CityDetails.colorScheme.colorD"></p-colorPicker>
            <p>{{CityDetails.colorScheme.colorD}}</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 my-2">
            <h5>Primary Text</h5>
            <p-colorPicker [(ngModel)]="CityDetails.colorScheme.primaryTextColor"></p-colorPicker>
            <p>{{CityDetails.colorScheme.primaryTextColor}}</p>

        </div>

        <div class="col-lg-2 my-2">
            <h5>Secondary Text</h5>
            <p-colorPicker [(ngModel)]="CityDetails.colorScheme.secondaryTextColor"></p-colorPicker>
            <p>{{CityDetails.colorScheme.secondaryTextColor}}</p>

        </div>

        <div class="col-lg-2 my-2">
            <h5>Header Text</h5>
            <p-colorPicker [(ngModel)]="CityDetails.colorScheme.headerTextColor"></p-colorPicker>
            <p>{{CityDetails.colorScheme.headerTextColor}}</p>

        </div>
    </div>




    <div class="row">
        <div class="col-2 my-2">
            <button pButton type="button" label="Save" (click)="Save()"></button>
        </div>
    </div>


    <p-dialog header="Add News" [(visible)]="ShowNewsDialog" [style]="{width: '50vw'}">
        <h5>Title</h5>
        <input type="text" pInputText [(ngModel)]="NewNews.title" placeholder="Terror In Town" />
        <h5>Source</h5>
        <input type="text" pInputText [(ngModel)]="NewNews.source" placeholder="Abyssal News" />
        <h5>Author</h5>
        <input type="text" pInputText [(ngModel)]="NewNews.author" placeholder="Something about the article" />
        <h5>Article (HTML)</h5>
        <textarea rows="5" pInputTextarea [(ngModel)]="NewNews.storyHtml"></textarea>

        <button pButton type="button" label="Add" (click)="AddNews()"></button>

    </p-dialog>

    <p-dialog header="Add News" [(visible)]="ShowHelpDialog" [style]="{width: '50vw'}">
        <h5>Title</h5>
        <input type="text" pInputText [(ngModel)]="NewHelp.title" placeholder="Terror In Town" />

        <h5>Details (HTML)</h5>
        <textarea rows="5" pInputTextarea [(ngModel)]="NewHelp.detailsHtml"></textarea>

        <button pButton type="button" label="Add" (click)="AddHelp()"></button>

    </p-dialog>

</div>

<p-toast></p-toast>